
<!--
Ingredients
-->

<div class="post-info">
  {% if article.ingredients %}
    <ul class="no-bullet ingredients">
      <li>
        <i class="icon ingredients-icon">&nbsp;</i>
        <strong>Ingredients</strong>
      </li>
      {% if article.ingredients is string %}
        <li><span>{{ article.ingredients }}</span></li>
      {% else %}
        {% for ingredient in article.ingredients %}
        <li><span>{{ ingredient }}</span></li>
        {% endfor %}
      {% endif %}

    </ul>
  {% endif %}
    
</div><!-- /.post-sidebar -->
